# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv

# Ignore VS Code workspace settings
.vscode/

# Ignore environment files
*.yml
*.env
